
# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and virtual environments
.env
*.env
venv/
env/
new_venv/
machine-translation/new_venv/
sentiment-analysis/new_venv/
dialog-system/new_venv/
dialog-system/*.pdf


# Ignore MySQL credentials
*.db
*.sql
mysql.cnf

# Ignore logs
*.log
logs/
app.log
# Ignore compiled Python files
*.egg-info/
dist/
build/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
